.index-head {
  color: rgb(77, 104, 133);
  font-size: 20px;
  height: 60px;
  border-bottom: 1px solid #dcdfe6;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(220, 223, 230);
}

.index-head-div {
  height: 100%;
  text-align: center;
  line-height: 59px;
}
